body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: azure;
    position: relative;
}


#player {
    background-color: pink;
    position: absolute;
}


.obstacle {
    background-color: blueviolet;
    position: absolute;
}